body{
    margin: 0;
}
.slide img {
    width: 100%;
   height: 651px;
}
.container {
    position: relative;
    width: 100%;
}
.arrow{
    position: absolute;
    cursor: pointer;
    top: 45%;
    background-color: rgb(168, 164, 164);
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 30px;
    margin: 0px 20px;
    color: black;
    
}
.next {
    right: 8px;
}
.previous {
    left: 8px;
}
.slide{
    display: none;
    
}